[submodule "libs/zig-regex"]
	path = libs/zig-regex
	url = https://github.com/tiehuis/zig-regex
[submodule "libs/zig-containers"]
	path = libs/zig-containers
	url = https://github.com/trevorswan11/zig-containers
[submodule "libs/zig-raylib"]
	path = libs/zig-raylib
	url = https://github.com/Not-Nik/raylib-zig
[submodule "libs/sqlite3"]
	path = libs/sqlite3
	url = https://github.com/trevorswan11/sqlite3
